.aboutUs{
    align-self: center;
    justify-self: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutUs img{
    width: 400px;
    height: 350px;
}

.aboutUs h3{
    font-size: 30px;
    font-weight: 300;
    color: #f7c443;
    font-family: 'Mate SC', serif;
}

.aboutUs p {
    font-family: 'Karla', sans-serif;
}