
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav button{
    background-color: black;
    color: white;
    font-family: 'Mate SC', serif;
    font-size: 25px;
    transition: .5s;
    border: 1px solid white;
    border-radius: 3px;
    margin: 15px 0;

}


button:hover{
    color: black;
    background-color: white;
}


.main{

    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;

}