.card{
    border-left: 2px white solid;
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    max-width: 500px;
}

.card img{
    width: 15rem;
    height: 15rem;
    align-self: center;
    object-fit: cover;
}

.card div h3{
    text-align: center;
    font-family: 'Mate SC', serif;
    font-weight: 400;   
}

.card div{
    margin: 10px;
    align-self: center;
}

.card div p{
    font-family: 'Karla', sans-serif;
    
}

@media screen and (max-width: 768px){

    .card{
        flex-direction: column;
    }


}

@media screen and (min-width: 769px){

    .card{
        max-height: 300px;
    }


}
