
.main{
    grid-area: content;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 180rem;
}

.main img{
    width: 40rem;
    height: 30rem;
    
}

@media screen and (max-width: 768px ){

    .main{
        background-image: url('../../img/barman.jpeg');
        background-size: cover;
        width: 100%;
    }

    .main img{
        display: none;
    }

}