

.drink_box{
    border-left: 2px solid white;
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2%;
    margin: 1%;
    color: white;
    font-family: 'Mate SC', serif;
    transition: 0.5s;
    
}

.drink_box:hover{
    transform: scale(1.05);
    -webkit-box-shadow: inset 7px -1px 8px -2px #FFFFFF; 
    box-shadow: inset 7px -1px 8px -2px #FFFFFF;
}

img{
    width: 10rem;
    height: 10rem;
    border-radius: 2px;
}

.drink_p{
    margin: 7px;
    font-weight: 300;
}